{% extends "_layout.html" %}
{% block main %}
<div class="main_super">

    <div class="download_ios_page">

        <div class="col_1">

            <div class="col_1_sub">
                <div class="title_custom">
                    <h1>What Sticks</h1>
                    <div id="small_screen_logo">
                        <img class="img_logo" src="{{ url_for('bp_main.website_images', filename='wsLogo180noName.png') }}"/>
                    </div>
                </div>

                <div class="std_frame_light_gray std_frame_download">
                    <div class="std_frame_sub">
                        <div class="std_frame_sub_col_1_main_text">Download Apple <i>TestFlight</i> and start using What Sticks.</div>
                    </div>
                </div><!-- std_frame_light_gray -->

                <div class="std_frame_light_gray std_frame_download">
                    <div class="std_frame_sub step_1_div_for_big">
                        Step 1: Go to download page click 
                        <a  href="{{ download_test_flight_link }}" target="_blank">{{ download_test_flight_link }}</a>
                    </div>
                    <div class="std_frame_sub step_1_div_for_small">
                        Step 1: Go to download page click <a href="{{ download_test_flight_link }}" target="_blank">here</a>
                    </div>
                </div><!-- std_frame_light_gray -->

                <div class="std_frame_light_gray std_frame_download_taller ">
                    <div class="std_frame_sub_2_columns">
                        <div class="std_frame_sub_col_1">
                            <div class="std_frame_sub_col_1_main_text">
                                Step 2: Download TestFlight 
                            </div>
                            
                            <div class="std_frame_sub_col_1_small_text">
                                TestFlight is an Apple Application that allows testing of new applicaitons.
                            </div>
                            
                        </div>
                        <div class="std_frame_sub_col_2">
                                <a href="#DownloadTestFlight">
                                    <img class="img_screen_shot" 
                                    src="{{ url_for('bp_main.website_images', filename='DownloadTestFlight_arrow.PNG') }}"/>
                                </a>
                        </div>
                    </div><!-- std_frame_sub_2_columns -->
                </div><!-- std_frame_light_gray std_frame_download_taller -->

                <div class="std_frame_light_gray std_frame_download_taller">
                    <div class="std_frame_sub_2_columns">
                        <div class="std_frame_sub_col_1">Step 3: In TestFlight select the latest What Sticks</div>
                        <div class="std_frame_sub_col_2">
                            <a href="#DownloadWhatSticks">
                                <img class="img_screen_shot" 
                                src="{{ url_for('bp_main.website_images', filename='DownloadWhatSticks_v03_arrow.jpeg') }}"/>
                            </a>
                        </div>
                    </div><!-- std_frame_sub_2_columns -->
                </div><!-- std_frame_light_gray std_frame_download_taller -->

                <div class="std_frame_light_gray std_frame_download">
                    <div class="std_frame_sub_register_login">
                        <div class="std_frame_sub_col_1 std_frame_sub_col_1_center_text"><h3>Register and login!</h3></div>
                    </div><!-- std_frame_sub_2_columns -->
                </div><!-- std_frame_light_gray std_frame_download_taller -->
                
                <div class="std_frame_last_on_page"></div>

            </div><!-- col_1_sub -->
        </div><!-- col_1 -->

        <div id="DownloadTestFlight" class="lightbox">
            <a href="#">
                <img class="img_screen_shot" 
                src="{{ url_for('bp_main.website_images', filename='DownloadTestFlight_arrow.PNG') }}"/>
            </a>
        </div><!-- lightbox: DownloadTestFlight -->

        <div id="DownloadWhatSticks" class="lightbox">
            <a href="#">
                <img class="img_screen_shot" 
                src="{{ url_for('bp_main.website_images', filename='DownloadWhatSticks_v03_arrow.jpeg') }}"/>
            </a>
        </div><!-- lightbox: DownloadWhatSticks -->
    </div><!-- home_page -->
</div><!-- main_super -->



{% endblock %}

<script>
    // Optional: JavaScript to handle closing the lightbox by clicking anywhere
    document.querySelectorAll('.lightbox').forEach(lightbox => {
        lightbox.onclick = function() {
            window.location.hash = '';
        };
    });
</script>
