{% extends "_layout.html" %}
{% block main %}
<!-- <div class="main_super"> -->

<div class="privacy_page">

    <div class="col_1">
        <!-- <div class="col_1_sub"> -->
        <div class="title_custom">
            <h1>What Sticks Privacy Policy</h1>
            <div id="small_screen_logo">
                <img class="img_logo" src="{{ url_for('bp_main.website_images', filename='wsLogo180noName.png') }}" />
            </div>
        </div>

        <div class="std_frame_light_gray std_frame_fixed_size flex_center_vertically">
            <div class="">
                Last Updated: 29 January 2024
            </div>
        </div><!-- std_frame_light_gray -->

        <div class="paragraph_privacy">
            Welcome to What Sticks! We are committed to pioneering modernized wellness solutions while rigorously
            protecting your privacy. This Privacy Policy explains how we collect, use, and share information through our
            What Sticks Platform (the "Platform").
        </div><!-- paragraph_privacy -->

        <div class="paragraph_privacy">
            <h3>1. Information Collection</h3>
            When you use our Platform, we collect the following types of information:
            <ul>
                <li>Personal Information: We collect personal information that you provide to us, such as your email
                    address, when you register for an account.</li>
                <li>Usage Data: We collect information about your interactions with our Platform, like the features you
                    use and the time, frequency, and duration of your activities.</li>
                <li>Wellness Information: We collect information approved by the user such as steps counts, heart rates, workout durations, etc.,</li>
            </ul>
        </div><!-- paragraph_privacy -->


        <div class="paragraph_privacy">
            <h3>2. Use of Information</h3>
            We use your information for the following purposes:
            <ul>
                <li>To provide, maintain, and improve our Platform and services.</li>
                <li>To personalize your experience.</li>
                <li>For benchmarking purposes, where your data is aggregated with other users' data to help you
                    understand your wellness journey in comparison to broader trends.</li>
                <li>For research and development purposes, always in aggregate and anonymized form.</li>
            </ul>
        </div><!-- paragraph_privacy -->

        <div class="paragraph_privacy">
            <h3>3. Data Sharing and Disclosure</h3>
            <ul>
                <li><b>Aggregate Information</b>: We may share aggregated and anonymized information with users or
                    research teams interested in wellness trends. This data will never contain your email or personally
                    identifiable information.</li>
                <li><b>Evaluation of Data Requests</b>: If there are requests for the anonymous, aggregated data, the
                    What Sticks team will evaluate these requests and may share the data without user emails or any
                    personally identifiable information.</li>
                <li><b>Legal Requirements</b>: We may disclose your information if required by law or if we believe that
                    the disclosure is necessary to protect our rights and/or comply with a judicial proceeding, court
                    order, or legal process.</li>
            </ul>
        </div><!-- paragraph_privacy -->

        <div class="paragraph_privacy">
            <h3>4. Data Storage and Security</h3>
            Your information is securely stored on What Sticks Servers. We employ a variety of security measures to
            maintain the safety of your personal information.
        </div><!-- paragraph_privacy -->

        <div class="paragraph_privacy">
            <h3>5. Changes to this Privacy Policy</h3>
            We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
        </div><!-- paragraph_privacy -->

        <div class="paragraph_privacy">
            <h3>6. Contact Us</h3>
            If you have any questions about this Privacy Policy, please contact us at nrodrig1@gmail.com.
        </div><!-- paragraph_privacy -->



        <div class="execess_space"></div>

        <!-- </div>col_1_sub -->
    </div><!-- col_1 -->


</div><!-- home_page -->
<!-- </div>main_super -->
{% endblock %}