<div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure?</h5>
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- Add image icon -->
        <div class="form-group">
          <label class="" for="inputDefault">This will append data to the database</label>
        </div>
        
        <div class="div_element_right">
          <button type="submit" name="btn_append_zip_to_db" value="true"class="btn btn-primary" 
          form="form_upload_db">Append</button>
        </div>
  
      </div><!-- modal-body -->
      <div class="modal-footer">
  
      </div>
    </div>
  </div>
  
  
  